<footer class="footer">
    <div class="footer__inner">
        <figure class="logo">
            <img class="logo__image" src="/images/logo.png" alt="Изображение логотипа">
            <figcaption class="logo__name">Oh</figcaption>
        </figure>
        <div class="footer__contacts">
            <div class="footer__contact">
                <img class="footer__image" src="/images/message.png" alt="Изображение сообщения">
                <span class="footer__email">info@oh.com</span>
            </div>
            <div class="footer__contact">
                <img class="footer__image" src="/images/phone.png" alt="Изображение телефона">
                <span class="footer__phone">8 800 555 35 35</span>
            </div>
        </div>
        <p class="footer__copy">&copy; 2017 Oh production</p>
    </div>
</footer>